<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
		<title>Main Page</title>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/layout.css">
		<script src="../js/jquery.js"></script>
		<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
	</head>
	<body>
		<%- include partials/navigation.ejs %>
		<br>
		<div class="container">
			<ul class="list-group">
				<% articles.forEach(function(article, i){ %>
					<li class="list-group-item"><a href="/article/<%= article._id %>"><%= article.title %></a></li>
				<% }) %>
			</ul>

		</div>
		<br>
		<hr>
		<%- include partials/footer.ejs %>
	</body>
</html>